django
djangorestframework
django-filter
django-cors-headers
environs
python-decouple
celery
redis
requests
beautifulsoup4
lxml
python-telegram-bot
torpy
selenium
webdriver-manager
telethon>=1.28.0
asyncio
aiofiles