<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LeakGuard{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
    {% load static %}
    {% block extra_css %}{% endblock %}
</head>
<body class="h-full bg-gray-50 dark:bg-gray-900">
    {% block content %}{% endblock %}
    
    {% block extra_js %}{% endblock %}
</body>
</html>

